<% layout("/layouts/boilerplate") %>
<body>
    <br><br>
    <div class="row">
        <div class="col-8 offset-2">

    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" class="form-control" required value="<%= listing.title %>">
            <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" required name="listing[description]" ><%= listing.description %></textarea>
            <div class="invalid-feedback">Description should be valide </div>
        </div>
        <p>Original image</p>
        <img src= "<%= newUrl %>"alt="" > 
        <div class="row">
            <div class="mb-3 col-md-5">
            <label for="image" class="form-label">Uplode New Charger Image</label>   
            <input type="file" name="listing[image]"  class="form-control required" value="<%= listing.image %>">  
            </div>
            <div class="mb-3 col-md-7">
                <label for="phoneNo" class="form-label">Contact No.</label>
                <input type="tel" name="listing[phoneNo]" placeholder="Contact"
class="form-control" autocomplete="off" required
pattern="[0-9]{10}" title="Enter 10-digit mobile number" value="<%= listing.phoneNo %>" >
                <div class="invalid-feedback">Contact should be valide </div>
            </div>

        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input class="form-control" required type="number" name="listing[price]" value="<%= listing.price %>">
                <div class="invalid-feedback">Price should be valide </div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="location" class="form-label">Location</label>
                <input class="form-control" required type="text" name="listing[location]" value="<%= listing.location %>">
                <div class="invalid-feedback">Location should be valide </div>
            </div>
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-5">
                <label for="company" class="form-label">Company</label>
                <select class="form-select" aria-label="Default select example" name="listing[company]" value="<%= listing.company %>" required>
                    <option value="" disabled selected>Choose Company</option>
                    <option value="BMW">BMW</option>
                    <option value="MG">MG</option>
                    <option value="Mahindra">Mahindra</option>
                    <option value="TATA">TATA</option>
                    <option value="Mercedes-Benz">Mercedes-Benz</option>
                    <option value="Audi">Audi</option>
                    <option value="Tesla">Tesla</option>
                    <option value="Volkswagen">Volkswagen</option>
                    <option value="Volkswagen">Skoda</option>
                    <option value="Hyundai">Hyundai</option>
                    <option value="OLA">OLA</option>
                  </select>
                    <div class="invalid-feedback">Company should be selected </div>
            </div>
    
            <div class="mb-3 col-md-7">
                <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" autocomplete="off" value="<%= listing.country  %>" required>
                    <div class="invalid-feedback">Country should be valide </div>
            </div>
        </div>
        <div class="invalid-feedback">Country name should be valide </div>
        <br>
        <button type="submit" class="btn btn-dark add-btn">Edit</button>
        <br><br>

        
    </form>
</div>
</div>
</body>
</html>